/*All styles for Dark Patterns Forest game*/

/* Imported 8-bit font */
body {
    font-family: '8BITWONDERNominal';
}

/*Background grey color*/
.grey {
    background-color: #C9C8C8;
}

/*Lighter grey background*/
.liteGrey {
    background-color: #EEECEF;
}

/*Background white color*/
.white {
    background-color: white;
    padding: 50px;
    margin: 20px;
    height: 800px;
}

/*Text red color*/
.red {
    color: #C03940;
}
.red2 {
    color: #C03940;
    padding: 10px 0px 0px 0px;
}

.darkBlueFull {
    background-color: #111C29;
}
/*Background blue color for Treasure Chest boxes*/
.darkBlue {
    background-color: #111C29;
    display: flex;
    padding: 40px 50px;
    height: 464px;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Treasure Chest Page Titles and Icons*/
.tcFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;   
}
.tcFlex2 {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding: 10px;
}
.tcFlex3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    padding: 40px;
}
.tc {
    margin: 0px 50px 0px 00px;
}
.tcText {
    margin: 15px;
}
.tcText2 {
    padding: 18px 0px 0px 0px;
}

/*About Page Titles, Icons, and Content*/
.aFlex {
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.centralTitle {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.gS {
    font-family: '8BITWONDERNominal';
    padding: 14px 20px;
    color: #C03940;
}
.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

/*Explanation text - easier to read*/
h4 {
    font-family: Helvetica;
}
h5 {
    font-family: Helvetica;
}
h6 {
    font-family: Helvetica;
    color: #4A4A4A;
}
.sansRed {
    font-family: Helvetica;
    color: #C03940;
    margin: 0px 0px 30px;
}
.secondSans {
    margin: 0px 0px 20px;
}

/*Dark Patterns Forest Text and animations*/
.dpftext span {
    font-size: 64px;
}
.dpftext {
    transition: transform 1s;
    transition-timing-function: steps(10, end);
    padding: 0px 0px 300px;
    max-width: 500px;
}

/*Text and button animations*/
.exitDown {
    transform: translate(0, 700px);
}

/*Game End*/
.endtext {
    color: #ffffff;
}
.endtext2 {
    color: #ffffff;
    padding: 0px 0px 400px;
}

/*White text*/
.textWhite {
    color: #ffffff;
    text-align: center;
    font-family: Helvetica;
}

/*Game over Text*/
.gg {
    font-size: 64px;
    color: #C03940;
    
}
.gg2 {
    font-size: 64px;
    color: #C03940;
    padding: 40px 20px 200px;
}

/*Monster text*/
.monsterText{
    font-family: '8BITWONDERNominal';
}

/*Treasure Chest Animations*/
.leftBorder img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.leftBorder:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/*Arrow Animations*/
.Arrow img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.Arrow:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/*Treasure Chest empty boxes*/
.box {
    background-color: #D8D8D8;
    margin-right: 10px;
    padding: 40px;
    max-width: 6px;
    margin-bottom: 16px;  
}
.whiteBox {
    background-color: #ffffff;
    margin-right: 10px;
    padding: 0px 0px 0px 21px;
    margin-bottom: 16px;
}

.whiteBox img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.whiteBox:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

/*Treasure chest empty boxes organization*/
.container {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*Back To Game Text*/
.back {
    color: #C03940;
    margin: 12px
}

/*About button*/
.about {
    font-family: '8BITWONDERNominal';
    text-align: center;
    padding: 8.5px 40px;
    font-size: 16px;
    background-color: #EFB50E;
    color: #111C29;
    border: 4px solid #4A4A4A;
    max-height: 48px;
    cursor: pointer;
}
.about:hover {
    background-color: #0469D9;
    color: #ffffff;
    transition: 0.1s;
    cursor: pointer;
}

/*Play button and animations*/
.play {
    font-family: '8BITWONDERNominal';
    text-align: center;
    margin: 20px;
    padding: 16px 56px;
    font-size: 35px;
    background-color: #EFB50E;
    color: #C03940;
    border: 6px solid #4A4A4A;
    box-shadow: 3px 3px 3px #4A4A4A;
    transition: transform 1s;
    transition-timing-function: steps(10, end)
}
.play:hover {
    background-color: #0469D9;
    color: #ffffff;
    transition: 0.1s;
    border: 6px solid #0469D9;
    cursor: pointer;
}

/*Smaller gold buttons with red text*/
.small {
    font-family: '8BITWONDERNominal';
    text-align: center;
    padding: 12px 62px;
    font-size: 20px;
    background-color: #EFB50E;
    color: #C03940;
    border: 4px solid #4A4A4A;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #4A4A4A;
    position: absolute;
    bottom: 0;
    left: 45%;
    margin: 5px 5px 15px 5px;
}
.small:hover {
    background-color: #0469D9;
    color: #ffffff;
    transition: 0.1s;
    border: 6px solid #0469D9;
    cursor: pointer;
}

/*Left background forest*/
.leftBorder {
    background-image: url("Images/left%20forest.png");
    width: 20%;
    height: 100%;
    background-size: cover;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;  
    justify-content: center;
    padding-top: 16px;
}

/*Right background forest*/
.rightBorder {
    background-image: url("Images/right%20forest.png");
    width: 20%;
    height: 100%;
    background-size: cover;
    display: flex;
    position: fixed;
    right: 0;
    top: 0; 
    justify-content: center;
    padding-top: 16px;
}

/*DPF text, Play button, and Player*/
.middle {
    left: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    height: -webkit-fill-available;    
}

/*Player image styling*/
.player {
    position: absolute;
    top: 50%;
}

/*Monster image and animation*/
.monster {
    max-width: 180px;
    position: absolute;
    top: 10%;
}
.smallMonster {
    max-width: 120px;
    margin: 0px 50px 0px 00px;
    max-height: 80px;
}
.tinyMonster{
    max-width: 60px;
    padding: 13px 17px 0px 0px;
}
#monAnim {
    transition: transform 1s;
    transition-timing-function: steps(10, end);
    transition-delay: 1s;
    margin-top: -705px;
}
/*Button animation*/
#butAnim {
    position: absolute;
    transition: transform 1s;
    transition-timing-function: steps(10, end);
    transition-delay: 1s;
    margin-top: -730px;
}

/*Text box description for gameplay*/
.goal {
    background-color: #ffffff;
    padding: 10px;
    border: 6px solid #EFB50E;
    text-align: center;
    margin: 10px;
}
.goal h2 {
    font-size: 30px;
}

/*Subscribe gameplay box*/
.subscribe {
    background-color: #ffffff;
    padding: 80px 60px 80px;
    text-align: center;
    border: 2px solid #4A4A4A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Subscribe button*/
.green {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #41975F;
    padding: 20px 30px;
    border-radius: 5px;
    transition: transition: all .2s ease-in-out; 
    border: 2px solid #41975F;
}

.green:hover {
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}

/*No subscribe button*/
.none {
    font-family: 'Helvetica';
    text-align: center;
    font-size: 12px;
    color: #4A4A4A;
    background: none;
    border: none;
    padding: 10px;
}

#endCont {
    padding: 10px 30px;
    font-size: 16px;
    left: 42%;
}

/*Container for clock and subscribe box*/
.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Clock Image*/
.clock {
    text-align: center;
    margin: 20px;
}

/*MODAL STYLES*/
/*Modal background content*/
.modal-content {
    background-color: #ffffff;
    padding: 5px;
    border: 6px solid #EFB50E;
    margin: 5px;
}
.modal-contentRed {
    background-color: #ffffff;
    padding: 5px;
    border: 4px solid #C03940;
    margin: 5px;
}
/*Modal buttons*/
.btn-primary {
    font-family: '8BITWONDERNominal';
    text-align: center;
    padding: 10px 38px;
    font-size: 20px;
    background-color: #EFB50E;
    color: #C03940;
    border: 4px solid #4A4A4A;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #4A4A4A;
    margin: 5px 5px 15px 5px;
}
/*Modal title styling*/
.modal-title {
    font-family: '8BITWONDERNominal';
}
/*Monster image w/in modal*/
.miniMonster {
    max-width: 50px;
}
/*Modal header styling*/
.modal-header {
    display: flex;
    justify-content: row;
    font-family: '8BITWONDERNominal';
}
/*Modal body styling*/
.modal-body {
    font-family: '8BITWONDERNominal';
    font-size: 16px;
}

/*Defeat Monster button*/
#defMon {
    padding: 10px 20px;
    font-size: 18px;
}

/*Rotating Tree*/
#oneTree {
    -webkit-animation: spin 4s infinite linear;
}
@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

